.main {
    padding: 100px;
}
.ear1-left {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 5px solid black;
    border-radius: 50%;
    bottom: 30px;
    right: 20px;
}
.ear2-right{
    position: relative; 
      height: 100px;
      width: 100px;
      background-color: pink;
      border: 5px solid black;
      border-radius: 50%;
      left: 210px;
      bottom: 135px;
}
.head{
    position: absolute;
   height: 300px;
   width: 300px;
   background-color: pink;
   border: 5px solid black;
   border-radius: 100%;
} 
.eye1-left{
    position: relative;
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid black;
    border-radius: 60%;
    bottom: 120px;
    left: 50px;
}
.eye2-right{
    position: relative;
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid black;
    border-radius: 60%;
    bottom: 195px;
    left: 180px;
}
.dot1{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    top: 15px;
    left: 15px;
}
.dot2{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    top: 15px;
    left: 15px;
}
.nose{
    position: absolute;
    height: 60px;
    width: 110px;
    background-color: palevioletred;
    border-radius: 40%;
    border: 2px solid black;
    top: 200px;
    left: 90px;
}
.hole{
    position: relative;
    justify-content: space-around;
    height: 40px;
    width: 30px;
    background-color: black;
    border-radius: 80%;
    left: 10px;
    bottom: 10px;
}

.left {
    left:70px ;
    top: 10px;
}

.right {
    bottom: 30px;
}